.modal-content {
  border-radius: 8px;
}

.modal-body {
  font-size: 14px;
}

.btn-sm {
  min-width: 90px;
}

select, input {
  font-size: 13px;
}

.classphrag p{
    padding: 2.5px;
}
.cheadver{
    padding: 13px 0px;
}
.table>:not(caption)>*>* {
    padding: .10rem .6rem;
}
.cardobservaciones{
    height: 140px;
}
.carddownload{
    height: 200px;
    overflow-y: auto;
}
.badge-outline-primary {
    background-color: transparent;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}
.form-control {
    border: 1px solid #d5d5d5;
}
.ng-select .ng-select-container {
    min-height: 30px;
    height: 30px;
}
.ng-select.ng-select-single .ng-select-container {
    min-height: 30px;
    height: 30px;
}
.form-select-sm {
    padding-left: 0rem;
}
select.form-select.form-select-sm.ng-untouched.ng-pristine.ng-invalid
{
    border: 1px solid #d5d5d5;
}

select{
    border: 1px solid #d5d5d5;
}