.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 1040 !important;
}
.modal.show {
  z-index: 1050 !important;
}
.modal-dialog {
  margin-top: 6vh;
}
.modal-content {
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
}
.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem 1rem;
}

.modal-title {
  font-weight: 600;
  color: #333;
}
.modal-footer {
  border-top: 1px solid #dee2e6;
  background: #f8f9fa;
}
input[type="file"].form-control {
  cursor: pointer;
}
.progress {
  height: 6px;
  background-color: #e9ecef;
  border-radius: 3px;
}
.progress-bar {
  background-color: #007bff;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

body.modal-open .modal-backdrop {
  opacity: 0.6 !important;
  background-color: #000 !important;
  z-index: 1040 !important;
}

::ng-deep modal-container.modal.fade.show {
    background: #0000009c;
}