<div *ngIf="loading" class="loading-overlay">
  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="mb-sm-0">{{titulopant}}</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="row ">
            <div class="col-xxl-6 col-md-6">
              <div>
                <label for="ard_id" class="form-label">UNIDAD ORGÁNICA</label>
                <ng-select class="mayus" [(ngModel)]="ard_id">
                    <ng-option value="0">Seleccionar Unidad Orgánica</ng-option>
                    <ng-option *ngFor="let item of dataAreaDenominacion" [value]="item.ard_id">{{item.ard_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="ord_numruc" class="form-label">RUC</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="INGRESE RUC . . ." maxlength="11" id="ord_numruc" [(ngModel)]="ord_numruc" (keypress)="restrictNumeric($event)">
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="ord_numero" class="form-label">ORDEN</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="00000" id="ord_numero" [(ngModel)]="ord_numero" (keypress)="restrictNumeric($event)">
                </div>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="tkt_numero" class="form-label">N° SIAF</label>
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="basic-addon1">#</span>
                    <input type="text" class="form-control" placeholder="00000" id="tkt_numero" [(ngModel)]="tkt_numero" (keypress)="restrictNumeric($event)">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xxl-3 col-md-6">
              <div>
                <label for="tib_id" class="form-label">TIPO BIEN</label>
                <ng-select class="mayus" [(ngModel)]="tib_id">
                    <ng-option value="0">Seleccionar Tipo Bien</ng-option>
                    <ng-option *ngFor="let item of dataTipoBien" [value]="item.tib_id">{{item.tib_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="eso_id" class="form-label">ESTADO ORDEN</label>
                <ng-select class="mayus" [(ngModel)]="eso_id">
                    <ng-option value="0">Seleccionar Estado Orden</ng-option>
                    <ng-option *ngFor="let item of dataEstadoOrden" [value]="item.eso_id">{{item.eso_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-2 col-md-6">
              <div>
                <label for="ess_id" class="form-label">ESTADO SIAF</label>
                <ng-select class="mayus" [(ngModel)]="ess_id">
                    <ng-option value="0">Seleccionar Estado SIAF</ng-option>
                    <ng-option *ngFor="let item of dataEstadoSiaf" [value]="item.ess_id">{{item.ess_descri}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="col-xxl-1 col-md-6">
              <div>
                <label for="ord_fecini" class="form-label">DESDE</label>
                <input type="date" class="form-control form-control-sm" id="ord_fecini" [(ngModel)]="ord_fecini">
              </div>
            </div>
            <div class="col-xxl-1 col-md-6">
              <div>
                <label for="ord_fecfin" class="form-label">HASTA</label>
                <input type="date" class="form-control form-control-sm" id="ord_fecfin" [(ngModel)]="ord_fecfin">
              </div>
            </div>
            <div class="col-xxl-3 col-md-6">
              <div class="card-header align-items-center d-flex" style="justify-content: end; padding-right: 0px;">
                <div class="d-flex gap-2">
                  <button type="button" class="btn btn-primary btn-outline-primary btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="buscar" (click)="loadDataProceso()">
                    <i class="ri-search-line"></i> BUSCAR </button>
                  <button type="button" class="btn btn-warning btn-outline-warning btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="buscar" (click)="openImportModal()">
                    <i class="ri-search-line"></i> IMPORTAR </button>
                  <button *ngIf="btnPerm.excel" type="button" class="btn btn-success btn-sm text-white d-flex justify-content-center align-items-center gap-1" id="descargaExcel" (click)="descargaExcel()" [disabled]="!exportarHabilitado">
                    <i class="ri-file-excel-2-line"></i> EXPORTAR </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body p-0">
          <div class="dt-mobile-scroll" id="tablaDataProceso">
            <table class="table align-middle table-nowrap mb-0 table--wide" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr style="text-align: center;">
                  <th scope="col" data-priority="1">N°</th>
                  <th scope="col" data-priority="2">T. BIEN</th>
                  <th scope="col" data-priority="3">FECHA</th>
                  <th scope="col" data-priority="4" style="text-align-last: center;">PROVEEDOR</th>
                  <th scope="col" data-priority="5" style="text-align-last: center;">CONCEPTO</th>
                  <th scope="col" data-priority="6">N° SIAF</th>
                  <th scope="col" data-priority="7">UNIDAD ORGÁNICA</th>
                  <th scope="col" data-priority="8">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataOrden" style="text-align: center;">
                  <td scope="row">
                    <p class="fw-bold">{{item.ord_numero}}</p>
                  </td>
                  <td>{{item.tib_descri}}</td>
                  <td>{{item.ord_fecoco}}</td>
                  <td>{{item.prv_nomrso}}</td>
                  <td>{{item.ord_concep}}</td>
                  <td>{{item.ord_nusiaf}}</td>
                  <td>{{item.ard_descri}}</td>
                  <td>
                    <div class="dropdown">
                      <button type="button" class="btn btn-outline-primary btn-icon btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="ri-align-justify"></i></button>
                        <ul class="dropdown-menu dropdown-menu-end" [attr.data-bs-container]="'body'">
                          <li *ngIf="item.chk_botedt"><a class="dropdown-item edit-item-btn" (click)="getIdButton(1, item)">EDITAR</a></li>
                          <li *ngIf="item.chk_botanu"><a class="dropdown-item edit-item-btn" (click)="getIdButton(3, item)">ANULAR</a></li>
                          <li *ngIf="item.chk_botver"><a class="dropdown-item edit-item-btn" (click)="getIdButton(4, item)">VER</a></li>
                          <li *ngIf="item.chk_botent"><a class="dropdown-item edit-item-btn" (click)="getIdButton(24, item)">DOCUMENTOS</a></li>
                          <li *ngIf="item.chk_botent"><a class="dropdown-item edit-item-btn" (click)="getIdButton(18, item)">ENTREGAS</a></li>
                        </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ImportFileModal>
  <div class="modal-header">
    <h5 class="modal-title">Importar archivo</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef?.hide()"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="fileInput" class="form-label">Seleccione un archivo</label>
      <input type="file" id="fileInput" (change)="onFileSelected($event)" class="form-control" />
    </div>
    <div *ngIf="selectedFileName" class="mb-2">
      <strong>Archivo seleccionado:</strong> {{selectedFileName}}
    </div>
    <div *ngIf="uploading" class="mb-2">
      <div class="spinner-border text-primary" style="width: 1.5rem; height: 1.5rem;" role="status"></div>
      <span class="ms-2">Subiendo...</span>
    </div>
    <div *ngIf="uploadResult" class="alert" [ngClass]="{'alert-success': uploadSuccess, 'alert-danger': !uploadSuccess}">
      {{uploadResult}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cerrar</button>
    <button type="button" class="btn btn-primary" [disabled]="!fileToUpload || uploading" (click)="uploadFile()">Procesar</button>
  </div>
</ng-template>